.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}
.form input {
    width: 75%;
    padding: 1rem 1.1rem;
    height: 20px;
    border: 0.2px solid #2c7caa;
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.50);
    color: gray;
    font-family: 'Montserrat';
    outline: none;
    transition: 0.8s;
    border-radius: 7px;
}
.form input:focus {
    font-size: 18px;
}
.form button{
    width: 15%;
    padding: 0.6rem 1rem;
    background-color: #2c7caa;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 500; 
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
    border-radius: 7px;
}
